<section class="my-10">
  <p class="text-center text-xl font-bold mb-3 px-4">
    Tienes un proyecto un mente, nosotros te ayudamos
  </p>
  <!-- Cuadro de texto y boton enviar -->
  <div>
    <form class="flex items-center justify-center gap-x-8 flex-wrap gap-y-4">
      <div class="flex">
        <input
          type="text"
          name="nombre"
          id="nombre"
          class="bg-transparent p-2 rounded-md border border-[#033D49] text-black w-60 sm:w-96"
          placeholder="Ingresar tu correo"
        />
      </div>
      <a
        class="rounded-lg bg-[#276f7d] hover:bg-[#033D49] text-white font-bold px-8 py-2"
        href="">Solicitar</a
      >
    </form>
  </div>
  <!-- Logo de Terranova Sac -->
  <div class="flex justify-center mt-12">
    <img
      class="size-32 md:size-40 lg:size-52"
      src="logo.webp"
      alt="constructora"
      width="256"
      height="256"
      title="constructora"
    />
  </div>
</section>
