<section id="personal" class="flex flex-col items-center m-10 gap-8">
  <h2 class="text-center text-4xl font-bold text-[#033D49]">Personal</h2>
  <p class="text-center max-w-[600px] m-auto">
    Conozca a nuestro equipo de especialistas y reciba la mejor atención.
  </p>
  <div class="flex justify-center py-10">
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-10 gap-y-10 px-10"
    >
      <div class="flex flex-col gap-y-3 items-center">
        <a
          class="group w-48 h-48 rounded-full flex items-center justify-center bg-[url('../delsy.webp')]"
          href="#"
          title="delsy"
        >
          <h4
            class="group-hover:text-white group-hover:block hidden font-bold text-center"
          >
            ver perfil
          </h4>
        </a>
        <div>
          <h3 class="text-base font-semibold text-black text-center">
            Delsy Lozada Zarate
          </h3>
          <h4 class="text-lg font-bold text-[#045C6D] text-center">
            Gerente general
          </h4>
        </div>
      </div>
      <div class="flex flex-col gap-y-3 items-center">
        <a
          class="group w-48 h-48 rounded-full flex items-center justify-center bg-[url('../yere.webp')]"
          href="#"
          title="yeremi"
        >
          <h4
            class="group-hover:text-white group-hover:block hidden font-bold text-center"
          >
            ver perfil
          </h4>
        </a>
        <div>
          <h3 class="text-base font-semibold text-black text-center">
            Yeremi Pacheco Mallma
          </h3>
          <h4 class="text-lg font-bold text-[#045C6D] text-center">
            Gerente operaciones
          </h4>
        </div>
      </div>
      <div class="flex flex-col gap-y-3 items-center">
        <a
          class="group w-48 h-48 rounded-full flex items-center justify-center bg-[url('../samuel.webp')]"
          href="#"
          title="samuel"
        >
          <h4
            class="group-hover:text-white group-hover:block hidden font-bold text-center"
          >
            ver perfil
          </h4>
        </a>
        <div>
          <h3 class="text-base font-semibold text-black text-center">
            Samuel Jesus Santos
          </h3>
          <h4 class="text-lg font-bold text-[#045C6D] text-center">
            Gerente de planeamiento
          </h4>
        </div>
      </div>
      <div class="flex flex-col gap-y-3 items-center">
        <a
          class="group w-48 h-48 rounded-full flex items-center justify-center bg-[url('../iprian.webp')]"
          href="#"
          title="Iprian"
        >
          <h4
            class="group-hover:text-white group-hover:block hidden font-bold text-center"
          >
            ver perfil
          </h4>
        </a>
        <div>
          <h3 class="text-base font-semibold text-black text-center">
            Iprian Salazar Flores
          </h3>
          <h4 class="text-lg font-bold text-[#045C6D] text-center">
            Residente de obra
          </h4>
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  .group {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .group:hover {
    background: #045c6d;
  }
</style>
