<footer id="contactenos" class="bg-[#011F24]">
  <!-- Footer final -->
  <div
    class="flex flex-col justify-center items-center w-11/12 m-auto py-3 flex-wrap sm:flex-row sm:justify-between gap-y-1"
  >
    <span class="text-white text-xs">No todos los derechos son reservados</span>
    <span class="text-white text-xs">
      Diseñado e Implementado por
      <a class="font-bold" href="/" target="_blank">JVP</a></span
    >
  </div>
</footer>
