---
import TablerLinkedin from "../../icons/Tabler-Linkedin.astro";
import TablerInstagram from "../../icons/Tabler-Instagram.astro";
import TablerMail from "../../icons/Tabler-mail.astro";
---

<main class="px-12 py-10">
  <div
    class="flex flex-col-reverse md:flex-row items-center justify-center gap-x-20 gap-y-10 mt-10 mb-10"
  >
    <div class="flex flex-col gap-4 py-10 px-5">
      <h1 class="text-5xl font-bold text-[#045C6D]">Terranova Sac</h1>
      <p class="max-w-full md:max-w-80">
        Somos una empresa especializada en consultoría y construcción, orientada
        a brindar soluciones integrales en proyectos de infraestructura, obras
        civiles y gestión de proyectos
      </p>
      <div class="flex gap-3">
        <a
          class="bg-transparent p-1 rounded-full border border-[#033D49]"
          href=""
          target="_blank"
          rel="noopener noreferrer"
          title="Linkedin de Terranova Sac"
        >
          <TablerLinkedin class="text-[#033D49] size-6" />
        </a>
        <a
          class="bg-transparent p-1 rounded-full border border-[#033D49]"
          href=""
          title="Instagram de Terranova Sac"
          target="_blank"
          rel="noopener noreferrer"
        >
          <TablerInstagram class="text-[#033D49] size-6" />
        </a>
        <a
          class="bg-transparent p-1 rounded-full border border-[#033D49]"
          href="mailto:prueba@gmail.com"
          title="Enviar un correo electronico a prueb@gmail.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <TablerMail class="text-[#033D49] size-6" />
        </a>
      </div>
    </div>
    <img
      class="size-64 md:size-72 lg:size-80 -rotate-6"
      src="construcion.webp"
      alt="constructora"
      width="256"
      height="256"
      title="constructora"
    />
  </div>
</main>
