---
import TablerTools from "../../icons/Tabler-tools.astro";
---

<section id="nosotros" class="bg-[#067A92] text-white">
  <div class="flex gap-10 justify-around w-9/12 m-auto py-20 flex-wrap">
    <div class="flex flex-col gap-2 items-center p-4">
      <TablerTools class="size-7" />
      <h2 class="font-bold">Vision</h2>
      <p class="text-xs max-w-44 text-center">
        Aspiramos a ser la constructora líder en el mercado, reconocida por
        nuestra excelencia en la ejecución de proyectos innovadores y
        sostenibles
      </p>
    </div>
    <div class="flex flex-col gap-2 items-center p-4">
      <TablerTools class="size-7" />
      <h2 class="font-bold">Mision</h2>
      <p class="text-xs max-w-44 text-center">
        Nuestra misión es realizar proyectos de construcción civil de alta
        calidad, que integren diseño, ingeniería y construcción, garantizando un
        entorno sostenible y satisfactorio para nuestros clientes
      </p>
    </div>
    <div class="flex flex-col gap-2 items-center p-4">
      <TablerTools class="size-7" />
      <h2 class="font-bold">Valores</h2>
      <p class="text-xs max-w-44 text-center">
        Calidad <br /> Innovación <br /> Sostenibilidad <br /> Integridad <br />
        Trabajo en equipo
      </p>
    </div>
  </div>
</section>
