<section id="proyectos" class="w-full m-auto flex flex-col items-center py-10">
  <section>
    <h2 class="text-center text-[#033D49] text-4xl font-bold my-12">
      Nuestros Proyectos
    </h2>
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-7 w-9/12 m-auto p-6"
    >
      <img
        class="block w-full h-1/12 rounded-lg object-cover m-auto hover:scale-105 transition duration-1000"
        src="img1.webp"
        alt="imagen 1"
        title="imagen 1 de la galeria"
      />
      <img
        class="block w-full h-1/12 rounded-lg object-cover m-auto hover:scale-105 transition duration-1000"
        src="img2.webp"
        alt="imagen 2"
        title="imagen 2 de la galeria"
      />
      <img
        class="block w-full h-1/12 rounded-lg object-cover m-auto hover:scale-105 transition duration-1000"
        src="img3.webp"
        alt="imagen 3"
        title="imagen 3 de la galeria"
      />
      <img
        class="block w-full h-1/12 rounded-lg object-cover m-auto hover:scale-105 transition duration-1000"
        src="img4.webp"
        alt="image 4"
        title="imagen 4 de la galeria"
      />
      <img
        class="block w-full h-1/12 rounded-lg object-cover m-auto hover:scale-105 transition duration-1000"
        src="img5.webp"
        alt="imagen 5"
        title="imagen 5 de la galeria"
      />
      <img
        class="block w-full h-1/12 rounded-lg object-cover m-auto hover:scale-105 transition duration-1000"
        src="img6.webp"
        alt="imagen 6"
        title="imagen 6 de la galeria"
      />
    </div>
  </section>
</section>
