<section class="bg-[#067A92]">
  <h2 class="text-3xl text-center font-bold pt-10 text-white">Testimonio</h2>
  <main class="flex m-auto py-10 bg-transparent md:w-9/10 bg-[#067A92]">
    <div class="flex flex-col items-center gap-5 m-auto">
      <div>
        <p class="text-white m-auto text-center max-w-lg">
          "Especialistas de primera y equipos funcionando perfectamente, la
          atención fue rápida y sin ningún problema externo..."
        </p>
      </div>
      <div>
        <img
          class="rounded-full size-10"
          src="avatar.webp"
          width="40"
          height="40"
          alt="persona testimonio"
          title="persona testimonio"
        />
      </div>
      <div>
        <h2 class="text-center text-white text-base">John Dae Dae</h2>
        <span class="text-center text-white font-bold text-sm"
          >Company Name</span
        >
      </div>
    </div>
  </main>
</section>
