---
import TablerWhatsApp from "../icons/Tabler-WhatsApp.astro";
---

<div>
    <a class="fixed right-5 top-80 p-3 text-white bg-green-500 rounded-full z-10 hover:bg-white hover:text-green-500" href="https://api.whatsapp.com/send?phone=987654321" target="_blank" title="WhatsApp">
    <TablerWhatsApp/>
    </a>
</div>